USE [master]
GO
/****** Object:  Database [ASIR]    Script Date: 21/09/2026 10:00:19 ******/
CREATE DATABASE [ASIR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ASIR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASIR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ASIR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ASIR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASIR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASIR]
GO
/****** Object:  UserDefinedDataType [dbo].[fecha]    Script Date: 21/09/2026 10:00:19 ******/
CREATE TYPE [dbo].[fecha] FROM [date] NULL
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 21/09/2026 10:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[numpieza] [varchar](16) NULL,
	[numbin] [numeric](10, 0) NOT NULL,
	[cantdisponible] [numeric](5, 0) NULL,
	[fecharecuento] [dbo].[fecha] NULL,
	[periodorecuen] [numeric](2, 0) NULL,
	[cantminima] [numeric](5, 0) NULL,
 CONSTRAINT [pkinventario] PRIMARY KEY CLUSTERED 
(
	[numbin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[linped]    Script Date: 21/09/2026 10:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[linped](
	[numpedido] [numeric](5, 0) NOT NULL,
	[numlinea] [numeric](2, 0) NOT NULL,
	[numpieza] [varchar](16) NULL,
	[preciocompra] [numeric](9, 2) NULL,
	[cantpedida] [numeric](4, 0) NULL,
	[fecharecep] [dbo].[fecha] NULL,
	[cantrecibida] [numeric](4, 0) NULL,
 CONSTRAINT [pklinped] PRIMARY KEY CLUSTERED 
(
	[numpedido] ASC,
	[numlinea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 21/09/2026 10:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[numpedido] [numeric](5, 0) NOT NULL,
	[numvend] [numeric](4, 0) NULL,
	[fecha] [dbo].[fecha] NULL,
 CONSTRAINT [pkpedido] PRIMARY KEY CLUSTERED 
(
	[numpedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pieza]    Script Date: 21/09/2026 10:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pieza](
	[numpieza] [varchar](16) NOT NULL,
	[nompieza] [varchar](30) NULL,
	[preciovent] [numeric](9, 2) NULL,
 CONSTRAINT [pkpieza] PRIMARY KEY CLUSTERED 
(
	[numpieza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preciosum]    Script Date: 21/09/2026 10:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preciosum](
	[numpieza] [varchar](16) NOT NULL,
	[numvend] [numeric](4, 0) NOT NULL,
	[preciounit] [numeric](9, 2) NULL,
	[diassum] [numeric](3, 0) NULL,
	[descuento] [numeric](2, 0) NULL,
 CONSTRAINT [pkpreciosum] PRIMARY KEY CLUSTERED 
(
	[numpieza] ASC,
	[numvend] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendedor]    Script Date: 21/09/2026 10:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendedor](
	[numvend] [numeric](4, 0) NOT NULL,
	[nomvend] [varchar](30) NULL,
	[nombrecomer] [varchar](30) NULL,
	[telefono] [char](11) NULL,
	[calle] [varchar](30) NULL,
	[ciudad] [varchar](20) NULL,
	[provincia] [varchar](20) NULL,
 CONSTRAINT [pkvendedor] PRIMARY KEY CLUSTERED 
(
	[numvend] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[inventario] ([numpieza], [numbin], [cantdisponible], [fecharecuento], [periodorecuen], [cantminima]) VALUES (N'DD-0001-30', CAST(1 AS Numeric(10, 0)), CAST(120 AS Numeric(5, 0)), CAST(N'2017-10-15' AS Date), CAST(1 AS Numeric(2, 0)), CAST(15 AS Numeric(5, 0)))
INSERT [dbo].[inventario] ([numpieza], [numbin], [cantdisponible], [fecharecuento], [periodorecuen], [cantminima]) VALUES (N'P-0001-33', CAST(2 AS Numeric(10, 0)), CAST(10 AS Numeric(5, 0)), CAST(N'2019-10-15' AS Date), NULL, CAST(5 AS Numeric(5, 0)))
INSERT [dbo].[inventario] ([numpieza], [numbin], [cantdisponible], [fecharecuento], [periodorecuen], [cantminima]) VALUES (N'O-0002-PP', CAST(3 AS Numeric(10, 0)), CAST(110 AS Numeric(5, 0)), CAST(N'2019-10-15' AS Date), CAST(1 AS Numeric(2, 0)), CAST(3 AS Numeric(5, 0)))
GO
INSERT [dbo].[linped] ([numpedido], [numlinea], [numpieza], [preciocompra], [cantpedida], [fecharecep], [cantrecibida]) VALUES (CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(2, 0)), N'M-0001-C', CAST(300.00 AS Numeric(9, 2)), CAST(10 AS Numeric(4, 0)), CAST(N'2019-05-10' AS Date), CAST(10 AS Numeric(4, 0)))
INSERT [dbo].[linped] ([numpedido], [numlinea], [numpieza], [preciocompra], [cantpedida], [fecharecep], [cantrecibida]) VALUES (CAST(1 AS Numeric(5, 0)), CAST(2 AS Numeric(2, 0)), N'P-0001-33', CAST(210.00 AS Numeric(9, 2)), CAST(20 AS Numeric(4, 0)), CAST(N'2019-05-10' AS Date), CAST(18 AS Numeric(4, 0)))
INSERT [dbo].[linped] ([numpedido], [numlinea], [numpieza], [preciocompra], [cantpedida], [fecharecep], [cantrecibida]) VALUES (CAST(1 AS Numeric(5, 0)), CAST(3 AS Numeric(2, 0)), N'FD-0001-144', CAST(135.00 AS Numeric(9, 2)), CAST(20 AS Numeric(4, 0)), CAST(N'2019-05-10' AS Date), CAST(20 AS Numeric(4, 0)))
GO
INSERT [dbo].[pedido] ([numpedido], [numvend], [fecha]) VALUES (CAST(1 AS Numeric(5, 0)), CAST(1 AS Numeric(4, 0)), CAST(N'2019-05-05' AS Date))
INSERT [dbo].[pedido] ([numpedido], [numvend], [fecha]) VALUES (CAST(2 AS Numeric(5, 0)), CAST(1 AS Numeric(4, 0)), CAST(N'2019-10-11' AS Date))
INSERT [dbo].[pedido] ([numpedido], [numvend], [fecha]) VALUES (CAST(3 AS Numeric(5, 0)), CAST(2 AS Numeric(4, 0)), CAST(N'2019-10-15' AS Date))
GO
INSERT [dbo].[pieza] ([numpieza], [nompieza], [preciovent]) VALUES (N'A-1001-L', N'MOUSE', CAST(7.00 AS Numeric(9, 2)))
INSERT [dbo].[pieza] ([numpieza], [nompieza], [preciovent]) VALUES (N'C-1002-H', NULL, CAST(4.00 AS Numeric(9, 2)))
INSERT [dbo].[pieza] ([numpieza], [nompieza], [preciovent]) VALUES (N'C-1002-J', NULL, CAST(7.00 AS Numeric(9, 2)))
GO
INSERT [dbo].[preciosum] ([numpieza], [numvend], [preciounit], [diassum], [descuento]) VALUES (N'A-1001-L', CAST(1 AS Numeric(4, 0)), CAST(2.00 AS Numeric(9, 2)), CAST(3 AS Numeric(3, 0)), NULL)
INSERT [dbo].[preciosum] ([numpieza], [numvend], [preciounit], [diassum], [descuento]) VALUES (N'A-1001-L', CAST(3 AS Numeric(4, 0)), CAST(5.00 AS Numeric(9, 2)), CAST(3 AS Numeric(3, 0)), NULL)
INSERT [dbo].[preciosum] ([numpieza], [numvend], [preciounit], [diassum], [descuento]) VALUES (N'A-1001-L', CAST(4 AS Numeric(4, 0)), CAST(4.90 AS Numeric(9, 2)), CAST(1 AS Numeric(3, 0)), NULL)
GO
INSERT [dbo].[vendedor] ([numvend], [nomvend], [nombrecomer], [telefono], [calle], [ciudad], [provincia]) VALUES (CAST(1 AS Numeric(4, 0)), N'AGAPITO LAFUENTE DEL CORRAL', N'MECEMSA', N'665782401  ', N'Avda. Valencia 3205', N'ALICANTE', N'ALICANTE')
INSERT [dbo].[vendedor] ([numvend], [nomvend], [nombrecomer], [telefono], [calle], [ciudad], [provincia]) VALUES (CAST(2 AS Numeric(4, 0)), N'LUCIANO BLAZQUEZ VAZQUEZ', N'HARW S.A.', N'663232321  ', N'GENERAL LACY, 15 2 B', N'ALICANTE', N'ALICANTE')
INSERT [dbo].[vendedor] ([numvend], [nomvend], [nombrecomer], [telefono], [calle], [ciudad], [provincia]) VALUES (CAST(3 AS Numeric(4, 0)), N'GODOFREDO MARTIN MARTINEZ', N'MECEMSA', N'664141722  ', N'AVDA. VALENCIA 3372', N'ALICANTE', N'ALICANTE')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [alinventario]    Script Date: 21/09/2026 10:00:19 ******/
ALTER TABLE [dbo].[inventario] ADD  CONSTRAINT [alinventario] UNIQUE NONCLUSTERED 
(
	[numpieza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[inventario]  WITH CHECK ADD  CONSTRAINT [fkinventario] FOREIGN KEY([numpieza])
REFERENCES [dbo].[pieza] ([numpieza])
GO
ALTER TABLE [dbo].[inventario] CHECK CONSTRAINT [fkinventario]
GO
ALTER TABLE [dbo].[linped]  WITH CHECK ADD  CONSTRAINT [fklinpedpedido] FOREIGN KEY([numpedido])
REFERENCES [dbo].[pedido] ([numpedido])
GO
ALTER TABLE [dbo].[linped] CHECK CONSTRAINT [fklinpedpedido]
GO
ALTER TABLE [dbo].[linped]  WITH CHECK ADD  CONSTRAINT [fklinpedpieza] FOREIGN KEY([numpieza])
REFERENCES [dbo].[pieza] ([numpieza])
GO
ALTER TABLE [dbo].[linped] CHECK CONSTRAINT [fklinpedpieza]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [fkpedidovendedor] FOREIGN KEY([numvend])
REFERENCES [dbo].[vendedor] ([numvend])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [fkpedidovendedor]
GO
ALTER TABLE [dbo].[preciosum]  WITH CHECK ADD  CONSTRAINT [fkpreciosumpieza] FOREIGN KEY([numpieza])
REFERENCES [dbo].[pieza] ([numpieza])
GO
ALTER TABLE [dbo].[preciosum] CHECK CONSTRAINT [fkpreciosumpieza]
GO
ALTER TABLE [dbo].[preciosum]  WITH CHECK ADD  CONSTRAINT [fkpreciosumvendedor] FOREIGN KEY([numvend])
REFERENCES [dbo].[vendedor] ([numvend])
GO
ALTER TABLE [dbo].[preciosum] CHECK CONSTRAINT [fkpreciosumvendedor]
GO
USE [master]
GO
